.LaBelle {
    font-family: "La Belle Aurore", "Raleway", sans-serif !important;
}

.TextGold {
    color: #b28d3d;
}

.BgGold {
    background-color: #b28d3d;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 576px) {
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 768px) {
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 992px) {
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 1200px) {
}
