.Header {
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: -65px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Header::after {
    content: "";
    background-color: #000000c0;
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    z-index: -1;
}

.Content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffffe0;
}

.Content > h1 {
    font-weight: lighter;
    font-size: 3rem;
}
